<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthtimejournal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_labeled"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.healthtimejournal.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.healthtimejournal.RegisterPageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.RegisterPage2Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.AddChildActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.MySharedAccountsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.NewsFeedActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.PostActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.PostPageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.ChildProfileActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.ParentProfileActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.PhotoViewerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.WeightGraphActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.HeightGraphActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.HealthGrowthActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.LifeEventsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.FirstsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.MilestonesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.TimelineActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.FoodActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.MedicineActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.VaccinationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.MyChildrenActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.MySharedAccountActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.MyFriendChildrenActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.EditChildInfoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.EditParentInfoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.AlbumActivity"
            android:label="@string/title_activity_album" >
        </activity>
        <activity
            android:name="com.healthtimejournal.CreateDoctorActivity"
            android:label="@string/title_activity_album" >
        </activity>
        <activity
            android:name="com.healthtimejournal.EditDoctorActivity"
            android:label="@string/title_activity_album" >
        </activity>
        <activity
            android:name="com.healthtimejournal.DoctorPageActivity"
            android:label="@string/title_activity_album" >
        </activity>
        <activity
            android:name="com.healthtimejournal.TiledEventsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.healthtimejournal.RegisterPage3Activity"
            android:label="@string/title_activity_register_page3" >
        </activity>
        <activity
            android:name="com.healthtimejournal.RegisterPartnerActivity"
            android:label="@string/title_activity_register_partner" >
        </activity>
    </application>

</manifest>